$cor-primaria: rgb(145, 39, 83);
$cor-secundaria: rgb(197, 194, 194);

@mixin display-flex ($direction, $justify){
        display: flex;
        flex-direction: $direction;
        justify-content: $justify;

}

nav {
    @include display-flex(row, space-around); 
    img {
        height: 70px;
        width: 70px;
    }

    ul {
        @include display-flex(row, space-around);
    }

    li {
        list-style: none;
        padding: 15px;
        
    }

    a {
        text-decoration: none;
        color: purple;

    }

}

main {
    background-image: url("https://static.vecteezy.com/ti/fotos-gratis/p1/22460209-uma-computador-area-de-trabalho-papel-de-parede-para-forex-negociacao-terminal-ai-generativo-area-de-trabalho-fundo-gratis-foto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    @include display-flex(column, center);

    div {
        width: 50%;
        background-color: rgba(255, 255, 255, 0.363);
    }

    input, button {
        padding: 15px;
        border-color: purple;
        background-color: purple;
        color: white;
        border-radius: 5px;
    }

    button {
        background-color: purple;
    }

}

.ultimo-conteudo-add {

    @include display-flex(column, center);

    h2 {
        text-align: center;
        color: $cor-primaria;
    }


    table {
        width: 100%;
        text-align: center;
        color: blue; 
    

    @mixin linha($tmBorda) {
        padding: 10px;
        border-bottom: $tmBorda solid rgb(136, 37, 103);
    }

    th {
        @include linha(2px)

    }
    
    td {
        @include linha(2px)

    }

    .assunto {
        display: flex;
        justify-content: center;
   

    @mixin assuntoPadrao ($corFundo) {
        background-color: $corFundo;
        min-width: 80%;
        color: white;
        text-transform: uppercase;
      
    }
    .assuntoWeb {
        @include assuntoPadrao(hotpink);
    }

    .assuntoWeb2 {
        @include assuntoPadrao(rgb(112, 46, 79));
    }

    .assuntoDesktop {
        @include assuntoPadrao(rgb(132, 132, 228));
      
    }

    .assuntoRedes {
        @include assuntoPadrao(rgb(31, 31, 78));
    }
    }

    .score {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
   

    .like {
        color: green;
    }

    .dislike {
        color: red;
    }

    .star {
        color: goldenrod;
    }
}
}

.botao {
    @include display-flex(row, center);


    button {
        padding: 15px;
        background-color: white;
        border: 1px solid $cor-primaria;
        color: $cor-primaria;
        border-radius: 10px;
        text-transform: uppercase;

    }

}

    
}

footer {
    $tamanhoTela: 12;
    @include display-flex(row, center );
    margin-top: 50px;
    background-color: $cor-primaria;
    height: 200px;
    
    @for $i from 1 through $tamanhoTela {
        .coluna-#{$i} {
            width: calc(100% / $tamanhoTela) * $i;
        }
    }

    div {
        align-items: center;
        text-align: center;
    }

    img {
        height: 70px;
        width: 70px;
    }

    ul {
        list-style: none;

    }

    h3 {
        color: $cor-secundaria;
    }

}